testing.ipynb
app/rsconnect-python
app/rsconnect-python/*
.venv
.venv/*
app/data
app/data/*
app/requirements_stuffs
app/requirements_stuffs/*
testing2.ipynb
app/__pycache__
app/__pycache__/*
app/testing3.ipynb